In [1]:
# Dependencies
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup
import pandas as pd
import requests

# NASA Mars News

In [2]:
# URL of page to be scraped
url1 = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

In [3]:
# Retrieve page with the requests module
response = requests.get(url1)
#print(response.text)

In [4]:
# Create BeautifulSoup object; parse with 'html.parser'
soup1 = BeautifulSoup(response.text, 'html.parser')
#soup

In [ ]:
# Examine the results, then determine element that contains sought info
#print(soup.prettify())

In [5]:
# Retrieve elements that contain News information
result1 = soup1.find('div', class_='slide')

# Retrieve latest News Title and Paragraph Text      
news_title = result1.find('div', class_='content_title').text.strip()
news_p = result1.find('div', class_='rollover_description_inner').text.strip()

print(news_title)
print(news_p)

NASA Invites Students to Name Mars 2020 Rover
Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.

# JPL Mars Space Images - Featured Image

In [6]:
#launches a browser when headless = False
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [7]:
#sends my browser to this url
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url2)

In [8]:
browser.click_link_by_partial_text('FULL IMAGE')

In [9]:
# HTML object
html2 = browser.html
    
# Parse HTML with Beautiful Soup
soup2 = BeautifulSoup(html2, 'html.parser')
#soup2

In [ ]:
# Examine the results, then determine element that contains sought info
#print(soup2.prettify())

In [10]:
# Retrieve elements that contain Featured Image information
result2 = soup2.find('img', class_='fancybox-image')

# Isolate src and build URL:      
featured_image_url = 'https://www.jpl.nasa.gov' + result2['src']

In [11]:
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17896_ip.jpg

# Mars Weather

In [12]:
#launches a browser when headless = False
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [14]:
#sends my browser to this url
url3 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url3)

In [15]:
# HTML object
html3 = browser.html
    
# Parse HTML with Beautiful Soup
soup3 = BeautifulSoup(html3, 'html.parser')

In [16]:
# Retrieve elements that contain Mars Weather information in Twitter
mars_weather = soup3.find('div', class_='js-tweet-text-container').\
find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text

In [17]:
print(mars_weather)

InSight sol 358 (2019-11-29) low -99.0ºC (-146.1ºF) high -21.5ºC (-6.7ºF)
winds from the SSE at 5.4 m/s (12.0 mph) gusting to 19.5 m/s (43.6 mph)
pressure at 6.70 hPapic.twitter.com/U4v6qiVlSW

# Mars Facts

In [19]:
url4 = 'https://space-facts.com/mars/'

In [20]:
tables = pd.read_html(url4)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [26]:
df = tables[0]
df.columns = ['Measurement','Data']
df

            Measurement                           Data
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [32]:
df.set_index('Measurement')
df

            Measurement                           Data
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [33]:
mars_table = df.to_html()
mars_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Measurement</th>\n      <th>Data</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [36]:
mars_table = mars_table.replace('\n', '')